@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Busca";
}


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categorias</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <partial name="_CategoriesPartial" />
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a asp-controller="EShopper" asp-action="Index" class="text-decoration-none d-block d-lg-none">
                        <img class="m-0 display-5" style="height: 75px;" src="~/img/logo.png" />
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">ADMIN</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a asp-action="Index">Luz Delas</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">ADMIN</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <a asp-action="Create" class="btn btn-primary">Novo produto</a>
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    @foreach(var obj in Model)
                    {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src="@obj.Image" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">@obj.Name</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>R$ @obj.Price</h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary p-0">Editar</a>
                                <form class="btn-group" method="post" asp-action="Delete" asp-route-id="@obj.Id">
                                    <button type="submit" class="btn btn-danger p-0">Apagar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->